::ng-deep .mat-tab-label {
    justify-content: space-around !important;
    min-width: 50% !important;
}
:host {
    .mat-icon {
      font-size: 36px;
    }
  }
.tab-group {
    @media (min-width: 665px) {
        max-width: 600px !important;
    }
    margin:auto !important;
    padding-bottom: 3rem !important;
}