.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1;
}

::ng-deep .mat-sidenav {
  margin-top: 54px;
  background-color: #673ab7a6;
  border-radius: 20px;
  height: fit-content;
}

/*  BACKGROUND IMAGE */
::ng-deep .mat-sidenav-container {
  /* The image used */
  background-image: url("/assets/images/coffee.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
