.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1;
}

::ng-deep .mat-sidenav {
  background-image: url("/assets/images/coffee.jpg");
  background-size: cover;
  background-position-x: right;
}

/*  BACKGROUND IMAGE */
::ng-deep .mat-sidenav-container {
  
  background-image: url("/assets/images/coffee.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.h-99 {
  min-height: 78%;
}
a {
  text-decoration: none;
}
