.mat-icon-button {
  line-height: 45px;
}
:host {
  .mat-icon {
    font-size: 32px;
    color: lime;
  }
}
form {
  padding-top: 3rem !important;
  padding-left: 1.4rem !important;
}

::ng-deep .warning{
  background: yellow !important;
  color: black !important;
  margin-top: 158px !important;
}
